[flake8]
extend-ignore = 
    E203,
    E302,
    E303,
    F821

# paths are relative to the openpectus directory
# For VS Code usage, set setting  "flake8.cwd": "${workspaceFolder}/openpectus"
# For command line and CI, invoke from the openpectus directory - and only from this directory (otherwise
# it wont pick up the config file and excludes and will for a long time)
exclude = 
    .git,
    __pycache__,
    frontend,
    aggregator/data/alembic/versions,
    lang/grammar/codegen,
    docs/source/conf.py,
    build,
    dist

max-complexity = 10
max-line-length = 150
per-file-ignores =
    engine/p1/*.py: E231, E265, E261, E301, E302, E305, E501, W291, W292, W293
    # the comments should be removed as the commands are implemented
    aggregator/command_examples.py: E122, W293
    # skip formatting checks in tests that contain expected user input which cannot be expected to adhere to whitespace constraints
    test/engine/test_builder.py: W291, W293
    test/lang/test_analyzer_check.py: W291, W293
    test/lang/test_parser.py: W291, W293
    
