antlr4-python3-runtime==4.9.2
pint
typing-extensions
flake8  # dev
black   # dev
fastapi
uvicorn[standard]
httpx   # for tests with fastapi.testclient
fastapi_websocket_rpc
fastapi_websocket_pubsub

# simulation server
opcua   
numpy
scipy
cryptography
