antlr4-python3-runtime==4.9.2
pint==0.23
typing_extensions==4.9.0
pydantic==2.5.3
flake8==6.1.0   # dev
black==23.12.1   # dev
build==1.0.3   # dev
fastapi==0.108.0
uvicorn[standard]==0.25.0
httpx==0.26.0
fastapi_websocket_rpc==0.1.25
fastapi_websocket_pubsub==0.3.8
colorlog==6.7.0
requests==2.31.0
sqlalchemy==2.0.24
pyright

# simulation server
#opcua
#numpy
#scipy
#cryptography
